# Non Graded Challenge 12


 `Name               : Reyki Seprianza`
 `Batch              : FTDS009`

----------------------------

Non-Graded Assignment ini dibuat guna mengevaluasi pembelajaran  pada  Hacktiv8  Data  Science  Fulltime Program khususnya pada konsep Inferential.


## Assignment Instructions

- Unduh dataset yang akan dipakai [disini](https://www.kaggle.com/hendratno/covid19-indonesia).
- Lakukan hypothesis testing terhadap dataset diatas.
- Ambil kesimpulan dari hasil analisa.
## Assignment Submission
Simpan assignment pada sesi ini dengan nama h8dsft_Inferential.
Push Assigment yang telah kalian buat ke akun Github kalian masing-masing.

## Assignment Objectives
Non-Graded Assignment ini dibuat guna mengevaluasi konsep Inferential sebagai berikut:

- Memahami konsep hypothesis testing
- Mampu melakukan hypothesis testing dengan Python
- Mampu mengambil kesimpulan dari hasil analisa yang dilakukan

In [4]:
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('covid_19_indonesia_time_series_all.csv')
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [6]:
fig,ax = plt.subplots(ncols=4, figsize = (18,4))
for i in range(4):
  df.New Cases.sample(400).plot(kind='hist',bins=20,ax=ax[i])
  ax[i].set_title('Sample #{}'.format(i+1))

SyntaxError: invalid syntax (<ipython-input-6-715e44f2d961>, line 3)